<!DOCTYPE html>
<html>
{%load static %}
{%include "admin/adminsidebar.html" %}
<head>
  <script src="{%static 'admin/dist/js/jquery-3.4.1.min.js' %}"></script>
  <script>



        </script>

</head>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Latest Orders</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Latest Orders</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Order Date</th>
                      <th>Ordered By</th>
                      <th>Package Title</th>
                      <th>Booked Date</th>
                      <th>No.of Persons</th>
                      <th>Time slot</th>
                     <th>Order Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for order in orders%}
                  <form action="">
                    <tr>
                      <td>{{order.order_date}}</td>
                      <td>{{order.user.username}}</td>
                      <td>{{order.package.title}}</td>
                      <td>{{order.booking_date}}</td>
                      <td>{{order.copies}}</td>
                      <td>{{order.slots}}</td>
                      {%if order.status == 1%}
                      <td>Booking Completed</td>
                      {%elif order.status == 2%}
                      <td>Order Canceled</td>
                      {%endif%}
                    </tr>
                    </form>
                  {%endfor%}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        </div>
      </div><!-- /.container-fluid -->
      </div>

    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</html>
